.lightboxOverlay {
  position: fixed;
  inset: 0; // cleaner than top/left/width/height
  background: rgba(0,0,0,0.85);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999; // ensure it's above everything
  //cursor: pointer;
}

.lightboxImage {
  width: 80vw;
  height: 80vh;

  object-fit: contain;

  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  //cursor: pointer;
}

.lightboxCloseButton {
  position: absolute;
  top: 20px;
  right: 20px;

  background: transparent;
  border: none;

  font-size: 32px;
  color: white;

  cursor: pointer;
  z-index: 2100;

  transition: opacity 0.2s ease;
}

.lightboxCloseButton:hover {
  opacity: 0.7;
}